body {
    background-color: #E1E9F9;
    color: #153774;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    margin: 0 !important;
}

#logo {
    background: #255FCA;
    color: #E1E9F9;
    font-size: 25px;
    text-align: center;
    font-family: "Verdana", italic;
    font-weight: bold;
    font-stretch: expanded;
    height: 50px;
}

.wrapper {
    width: 100%;
}

.nav {
    width: 100%;
    padding: 10px 0;
    background-color: #7199E5;
    text-align: center;
    border-top: 1px solid #0D1930;
    border-bottom: 1px solid #0D1930;
}

.content {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    padding: 20px;
}

ol {
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-size: 17px;
    height: 35px;
    line-height: 200%;
    display: inline-block;
}

ol a {
    color: #ffffff;
    text-decoration: none;
    display: block;
}

ol > li {
    float: left;
    width: 180px;
    height: 40px;
    border-right: 1px solid #0D1930;
}

ol > li:first-child {
    border-left: 1px solid #0D1930;
}

ol > li:hover {
    background-color: #7199E5;
}

ol > li:hover > a {
    color: #153774;
}

ol > li > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 40px;
    display: none;
}

ol > li:hover > ul {
    display: block;
}

ol > li > ul > li {
    background-color: #7199E5;
    position: relative;
    z-index: 100;
    border-top: 1px solid #0D1930;
}

ol > li > ul > li:hover {
    background-color: #255FCA;
}

ol > li > ul > li:hover > a {
    color: #153774;
}

/***** box*******/

.box {
    width: 100%;
    height: 200px;
    border: 1px solid #0D1930;
    display: flex;
    border-radius: 5px;
}

.box-left {
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
}

.box-center {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 10px;
}

.box-center-right {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 20px;
}

.box-right {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

/*.box-right {*/
/*    width: 25%;*/
/*    height: 100%;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    padding: 20px;*/
/*}*/


.box-image {
    width: auto;
    height: calc(100% - 20px);
    object-fit: cover;
}

.box-name {
    font-size: 20px;
    color: #0D1930;
}

.box-description {
    font-size: 14px;
    color: #153774;
}

.box-price {
    margin-top: 90px;
    color: #153774;
    font-size: 18px;
}


.box-button {
    /*padding: 20px;*/
    color: #E1E9F9;
    /*margin-bottom: 60px;*/
    /*margin-right: 10px;*/
    text-align: center;
    width: auto;
    height: auto;
    font-size: 14px;
    background: linear-gradient(#255FCA, #7199E5);
    border-radius: 30px;
}

.box-button:hover {
    background: linear-gradient(45deg, #7199E5, #255FCA);
    cursor: pointer;
        color: white;
    transform: scale(1.05);
    transition: background 0.3s ease;
}

/* on click */
.box-button:active {
    transform: translateY(2px);
    box-shadow: none;
}

/*****formularz*******************************************/

form {
    /*background-color: #E9F6DF;*/
    /*padding: 20px;*/
    /*border: 2px solid #0D1930;*/
    /*border-radius: 5px;*/
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #0D1930;
    border-radius: 4px;
}

#footer {
    margin-top: 20px;
    clear: both;
    background-color: #0D1930;
    color: #E1E9F9;
    text-align: right;
    padding: 30px;
    font-size: 15px;
}

/*tabela*/

table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    width: 90%;
}

th, td {
    text-align: left;
    padding: 8px;
}

th {
    background-color: #7199E5;
    color: #E1E9F9;
    font-weight: bold;
}

td img {
    max-width: 100px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

ol
.table-actions {
    text-align: center;
}

.table-actions a {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-decoration: none;
    color: #333;
    margin-right: 10px;
}

.table-actions a:hover {
    background-color: #f2f2f2;
}

.h2 {
    padding-left: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
#img{
    margin-left: auto;
    margin-right: auto;
}