/* Ustawienia ogólne */
body {
    font-family: "Verdana", sans-serif;
    margin: 40px;
    padding: 0;
    background: linear-gradient(to bottom, #7e856e, #ffffff);
    min-height: 100vh;
}

.title {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    color: #333;
    background-color: #eee; /* tło */
    padding: 20px; /* margines wewnętrzny */
    margin: 40px; /* margines zewnętrzny */
    border-radius: 10px; /* zaokrąglenie rogów */
}

#container {
    width: auto;
    margin: auto;
}

#logo {
    background: #64cb18;
    font-size: 25px;
    text-align: center;
    font-family: "Verdana", italic;
    font-weight: bold;
    font-stretch: expanded;
    height: 50px;
}

logo.right {
    background: #62C51B;
    width: 10%;
    font-size: 25px;
    text-align: right;
    font-family: "Verdana", italic;
    font-weight: bold;
    font-stretch: expanded;
    height: 50px;
}

.logo-item {
    text-decoration: none;
    color: #ff8080; /* pomarańczowy */
    font-size: 1.2em;
}

.logo-item.active {
    color: #7df59f;
}

#menu {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #64B927;
    margin-top: 10px;
/ color: #DDF8C9;
/ margin-bottom: 10 px;
}

.option {
    display: inline-block;
    min-width: 50px;
    height: 25px;
    font-size: 16px;
    padding: 15px;
    border-left: 1px solid #DDF8C9;
    border-right: 1px solid #DDF8C9;
    opacity: 0.75;
}


.option:hover {
    background-color: #1B3309;
    color: white;
    cursor: pointer;
}

.option-left {
    font-size: 18px;
    min-height: 25px;
    min-width: 130px;
    padding: 10px;
    border-bottom: 2px solid #444444;
    opacity: 0.75;
}

.option-left:hover {
    background-color: #1B3309;
    color: white;
    cursor: pointer;
}

#topbar {
    background-color: #65AD31;
    font-family: "Pacifico", italic;
    color: #DDF8C9;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 25px;
    height: 190px;
}

#topbar-left {
    float: left;
    padding: 20px;
    width: 138px;
    text-align: center;
    border-right: 2px solid #DDF8C9;
}

#topbar-right {
    float: inside;
    font-size: 50px;
    padding: 20px;
    width: 760px;
    text-align: center;
}

#sidebar {
    float: left;
    width: 148px;
    min-height: 600px;
    padding: 20px;
    background-color: #7EBB32;
    text-align: center;
    font-size: 18px;
    border-right: 2px solid #DDF8C9;
}

#content {
    float: left;
    padding: 40px;
    /*width: 730px;*/
    width: auto;
    background-color: #E9F6DF;
    min-height: 580px;
    text-align: justify;
}


#footer {
    margin-top: 20px;
    clear: both;
    background-color: #1B3309;
    color: #81EB00;
    text-align: right;
    padding: 20px;
    font-size: 18px;
}

/*!*button submit*!*/
/*button[type="submit"] {*/
/*    background: linear-gradient(orange, red);*/
/*    color: white;*/
/*    font-size: 12px;*/
/*    height: 30px;*/
/*    width: auto;*/
/*    border: none;*/
/*    border-radius: 4px;*/
/*}*/

/* Zdjęcie produktu */
.img {
    width: 100%;
    height: auto;
}

a {
    color: inherit;
    text-decoration: none;
}


/*****formularz*******************************************/

form {
    background-color: #E9F6DF;
    padding: 20px;
    border: 2px solid #62C51B;
    border-radius: 5px;
}


.shopping-cart {
. box;
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #62C51B;
    border-radius: 4px;
}

h2 {
    text-align: center;
    font-size: 24px;
    color: #1B3309;
}

.error {
    color: red;
}


/***** box*******/

.box {
    width: 100%;
    height: 200px;
    border: 2px solid #1B3309;
    display: flex;
    border-radius: 5px;
}

.box-left {
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-center {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 20px;
}

.box-center-right {

    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 20px;
}

.box-right {

    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    padding: 20px;
}

.box-image {
    width: auto;
    height: calc(100% - 40px);
    object-fit: cover;
}

.box-name {
    font-size: 18px;
}

.box-description {
    font-size: 14px;
}


.box-price {
    margin-top: 90px;
    margin-right: 10px;
    font-size: 16px;
}

.box-button {
    /*padding: 20px;*/
    margin-bottom: 60px;
    margin-right: 10px;
    width: auto;
    height: auto;
    font-size: 14px;
    background: linear-gradient(#1B3309, #62C51B);
    border-radius: 30px;
}


/*tabela*/

/*.tg {*/
/*    border: none;*/
/*    border-collapse: collapse;*/
/*    border-color: #ccc;*/
/*    border-spacing: 0;*/
/*}*/

/*.tg td {*/
/*    background-color: #fff;*/
/*    border-color: #ccc;*/
/*    border-style: solid;*/
/*    border-width: 0px;*/
/*    color: #333;*/
/*    font-family: Arial, sans-serif;*/
/*    font-size: 14px;*/
/*    overflow: hidden;*/
/*    padding: 10px 5px;*/
/*    word-break: normal;*/
/*}*/

/*.tg th {*/
/*    background-color: #f0f0f0;*/
/*    border-color: #ccc;*/
/*    border-style: solid;*/
/*    border-width: 0px;*/
/*    color: #333;*/
/*    font-family: Arial, sans-serif;*/
/*    font-size: 14px;*/
/*    font-weight: normal;*/
/*    overflow: hidden;*/
/*    padding: 10px 5px;*/
/*    word-break: normal;*/
/*}*/

/*.tg .tg-0lax {*/
/*    text-align: left;*/
/*    vertical-align: top*/
/*}*/


/*menu*/
/*#container {*/
/*    width: 100%;*/
/*    margin: 0 auto;*/
/*}*/

/*#logo {*/
/*    text-align: center;*/
/*    font-size: 30px;*/
/*    font-weight: bold;*/
/*    padding: 20px 0;*/
/*}*/

/*!*#menu {*!*/
/*!*    width: 100%;*!*/
/*!*    background-color: #333;*!*/
/*!*}*!*/

/*.option {*/
/*    float: left;*/
/*    list-style: none;*/
/*    padding: 20px;*/
/*    color: #fff;*/
/*    text-align: center;*/
/*    text-decoration: none;*/
/*}*/

/*.option:hover {*/
/*    background-color: #555;*/
/*}*/

/*.dropdown {*/
/*    float: left;*/
/*    list-style: none;*/
/*    padding: 20px;*/
/*    color: #fff;*/
/*    text-align: center;*/
/*    text-decoration: none;*/
/*    position: relative;*/
/*}*/

/*.dropdown:hover {*/
/*    background-color: #555;*/
/*}*/

/*.dropdown .dropdown-content {*/
/*    display: none;*/
/*    position: absolute;*/
/*    background-color: #333;*/
/*    min-width: 100%;*/
/*    z-index: 1;*/
/*}*/

/*.dropdown:hover .dropdown-content {*/
/*    display: block;*/
/*}*/

/*.dropdown .dropdown-content a {*/
/*    color: #fff;*/
/*    text-decoration: none;*/
/*    display: block;*/
/*    padding: 20px;*/
/*    text-align: center;*/
/*}*/

/*.dropdown .dropdown-content a:hover {*/
/*    background-color: #555;*/
/*}*/

/*.clear {*/
/*    clear: both;*/
/*}*/

/*#menu .dropdown .dropdown-content .option {*/
/*    padding-left: 40px;*/
/*}*/

/*#menu .dropdown .dropdown-content .option:hover {*/
/*    background-color: #555;*/
/*}*/